@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 94%;
    --foreground: 283 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 283 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 283 10% 10%;
    --primary: 283 100% 41%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 283 10% 10%;
    --muted: 0 0% 85%;
    --muted-foreground: 283 5% 40%;
    --accent: 266 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 266 100% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 283 30% 14%;
    --sidebar-foreground: 283 10% 80%;
    --sidebar-primary: 266 100% 70%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 283 25% 22%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 283 20% 20%;
    --sidebar-ring: 266 100% 60%;
  }
  .dark {
    --background: 283 10% 10%;
    --foreground: 0 0% 94%;
    --card: 283 10% 15%;
    --card-foreground: 0 0% 94%;
    --popover: 283 10% 15%;
    --popover-foreground: 0 0% 94%;
    --primary: 283 100% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 283 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 283 10% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 266 100% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 283 10% 25%;
    --input: 283 10% 25%;
    --ring: 266 100% 60%;
    --sidebar-background: 0 0% 8%;
    --sidebar-foreground: 0 0% 80%;
    --sidebar-primary: 266 100% 70%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 14%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 14%;
    --sidebar-ring: 266 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
